##### 入力元となる設計書に関する設定
# パスの記述については、以下のいずれかの形式で記載すること。
# (1) ツール実行時のカレントディレクトリ(*)からの相対パス（*:通常の場合、プロジェクトルートディレクトリ）
# (2) 絶対パス

# テーブル定義書のファイルパス
tableDefinitionFilePath=design/テーブル定義書_ss11_ワークフローサンプル.xls

# ドメイン定義書のファイルパス
domainDefinitionFilePath=design/ドメイン定義書.xls

# コード設計書のファイルパス
codeDesignFilePath=design/コード設計書.xls

# テーブル物理名のプレフィックス
tablePrefix=T_



##### ファイル生成に関する設定
# ファイル出力先ディレクトリ
outputDir=work/generated/entity

# テンプレートファイルのファイルエンコーディング
templateEncoding=UTF-8

# 出力ファイルのファイルエンコーディング
outputEncoding=UTF-8

# 出力ファイル改行（"CR", "LF", "CRLF"のいずれか）
lineSeparator=CRLF

# インデントに使用するスペースの数
spaceSizeForIndent=4

# 出力するJavaファイルに付与するパッケージ
packageName=please.change.me.sample.ss11.entity

# 生成するJavaクラスに付与するサフィックス
classSuffix=Entity
