<routes>
  <root to="Auth#index" />
 
  <!-- 認証 -->
  <get path="/" to="Auth#index" />
  <post path="/action/auth" to="Auth#login" />
  
  <!-- 承認一覧 -->
  <get path="/action/approval" to="Approval#index" />
  
  <!-- ローン申請 -->
  <get path="/action/loan/new" to="LoanApplication#newLoan" />
  <post path="/action/loan/new/confirm" to="LoanApplication#confirmLoan" />
  <post path="/action/loan/new" to="LoanApplication#createLoan" />
  <get path="/action/loan/new/complete" to="LoanApplication#completeLoan" />
  <post path="/action/loan/new/re" to="LoanApplication#editNewLoan" />
  
</routes>