<routes>
  <root to="Auth#index" />
 
  <!-- 認証 -->
  <get path="/" to="Auth#index" />
  <post path="/action/auth" to="Auth#login" />
  <get path="/action/auth/signout" to="Auth#signout" />
  
  <!-- 承認 -->
  <get path="/action/approval" to="Approval#list" />
  
  <!-- タスク完了後に呼ばれるリクエスト -->
  <match path="/action/approval/complete" to="Approval#completeTask" />
  
  <!-- 自動審査 -->
  <match path="/action/approval/auto" to="Approval#auto" />
  
  <!-- 調査 -->
  <match path="/action/approval/:id/survey" to="Approval#survey" />
  <match path="/action/approval/:id/reject" to="Approval#reject" />
  
  <!-- 判定 -->
  <match path="/action/approval/:id/judge" to="Approval#judge" />
  <match path="/action/approval/:id/rejectFromJudge" to="Approval#rejectFromJudge" />
  <match path="/action/approval/:id/back" to="Approval#back" />
  
  <!-- 上位判定 -->
  <match path="/action/approval/:id/upperLevelJudge" to="Approval#upperLevelJudge" />
  <match path="/action/approval/:id/rejectFromUpperLevelJudge" to="Approval#rejectFromUpperLevelJudge" />
  
  <!-- ローン実行 -->
  <match path="/action/approval/:id/executeLoan" to="Approval#executeLoan" />
  
  <!-- 承認時のエラー遷移先 -->
  <match path="/action/approval/:id/error" to="Approval#show" />
  
  <!-- 詳細 -->
  <match path="/action/approval/:id" to="Approval#show">
    <requirements>
      <requirement name="id" value="\d+$" />
    </requirements>
  </match>
  
  <!-- ローン申請 -->
  <get path="/action/loan/new" to="LoanApplication#newLoan" />
  <post path="/action/loan/new/confirm" to="LoanApplication#confirmLoan" />
  <post path="/action/loan/new" to="LoanApplication#createLoan" />
  <get path="/action/loan/new/complete" to="LoanApplication#completeLoan" />
  <post path="/action/loan/new/re" to="LoanApplication#editNewLoan" />

  <!-- カード申請 -->
  <get path="/action/card/list" to="CardApplication#list" />
  <get path="/action/card/new" to="CardApplication#newCard" />
  <post path="/action/card/new" to="CardApplication#createCard"/>
  <get path="/action/card/sinsa/auto" to="CardApplication#doAutoSinsa"/>
  <get path="/action/card/sinsa/ok" to="CardApplication#doSinsaOK"/>
  <get path="/action/card/sinsa/ng" to="CardApplication#doSinsaNG"/>
</routes>