
##### 入力元となる設計書に関する設定

# テーブル定義書のファイルパス
tableDefinitionFilePath=design/テーブル定義書_ss11_ワークフローサンプル.xls

# ドメイン定義書のファイルパス
domainDefinitionFilePath=design/ドメイン定義書.xls

# コード設計書のファイルパス
codeDesignFilePath=design/コード設計書.xls

##### ファイル生成に関する設定
# ファイル出力先ディレクトリ
outputDir=design/ui/mock/ui_demo/js/devtool/resource

# テンプレートファイルのファイルエンコーディング
templateEncoding=UTF-8

# 出力ファイルのファイルエンコーディング
outputEncoding=UTF-8

# 出力ファイル改行（"CR", "LF", "CRLF"のいずれか）
lineSeparator=CRLF
